{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>La inscripción a la Academia de Música [Nombre de la Academia] requiere la cumplimentación de un formulario detallado que incluye Datos Personales del Alumno (nombre, fecha de nacimiento, contacto y documento de identidad), la Selección de Cursos deseados (especificando instrumento principal como piano o guitarra, y si se tomará Lenguaje Musical o Ensamble), el Nivel de Experiencia del estudiante (principiante, intermedio, avanzado), y los Datos del Responsable Legal si es menor de edad. Adicionalmente, se solicita información sobre Disponibilidad Horaria, cualquier Observación médica relevante, y la Aceptación de los términos, condiciones y la política de uso de imagen de la academia.</p>

<p>Website created by {{ username }}</p>

{% endblock %}

