{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<h1>{{ title }}</h1>

<img src="{% static 'quickrevive.png' %}" alt="" width="100">

<p>¡Bienvenido a [Nombre de la Academia], el lugar donde tu pasión por la música se convierte en arte! Ofrecemos una formación integral y personalizada para todas las edades y niveles, desde clases de piano, guitarra y canto, hasta cursos avanzados de teoría y composición, impartidos por profesores expertos en un ambiente inspirador. Explora nuestros programas flexibles, conoce a nuestra comunidad creativa y da el primer paso para dominar tu instrumento.</p>

{% endblock %}


