{% extends "alumnos/base.html" %}

{% block body %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0"><i class="fa-solid fa-chalkboard-user"></i> Agregar Nuevo Instructor</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }} <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% url 'index' %}" class="btn btn-secondary me-md-2">Cancelar</a>
                        <button type="submit" class="btn btn-success">Guardar Instructor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}